@media (max-width: 991px) {
  .table-wrapper {
    overflow-x: auto;
  }
}

table.user-table {
  text-decoration: none;
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}

table.user-table th {
  font-weight: normal;
  font-size: 14px;
  color: #ffffff;
  background-color: #354251;
}

table.user-table td {
  font-size: 13px;
  color: #354251;
}

table.user-table td, table.user-table th {
  white-space: pre-wrap;
  padding: 10px 5px;
  line-height: 13px;
  vertical-align: middle;
  border: 1px solid #354251;
}

table.user-table tr:hover {
  background-color: #f9fafb
}

table.user-table tr:hover td {
  color: #354251;
  cursor: default;
}

@media (max-width: 991px) {
  table.user-table {
    width: 1200px;
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.row {
  transition: background-color 0.3s;
}

.row-selected {
  background-color: rgba(3, 3, 3, 0.2)
}

table.user-table  tr.row-selected:hover {
  background-color: rgba(3, 3, 3, 0.2)
}